.Organizations .lander {
  text-align: center;
}

.Organizations .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Organizations .lander p {
  color: #999;
}

thead th{
	text-align: center;
}